h1.name{
    color: aquamarine; text-align: center; font-size: 25px;
}
table{
    border: 1px outset black;
    background-color: greenyellow; width: 100%;
}
th{
    border: 1px outset black;
    background-color: greenyellow; width: 10%;
}
td{
    border: 1px outset black;
    background-color: greenyellow;}
